@font-face {
	font-family: 'HeadingNow';
	src: url('/fonts/Heading Now 63 Book.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HeadingNow';
	src: url('/fonts/Heading Now 63 Book Italic.woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'HeadingNow';
	src: url('/fonts/Heading Now 64 Regular.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HeadingNow';
	src: url('/fonts/Heading Now 64 Italic.ttf');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'HeadingNow';
	src: url('/fonts/HeadingNowTrial-67Extrabold.ttf');
	font-weight: 800;
	font-style: normal;
}

:root {
	--default-red: #f05b5b;
	--default-yellow: #ffde5b;
	--default-green: #b7e169;
	--default-blue: #69cbe5;
	--default-purple: #8A5865;
	--default-dark: #2f2b45;
	--default-light: #fffdf9;
	--s: 1.5vh;
	background-color: var(--default-light);
}

body {
	font-family: 'HeadingNow','Arial', sans-serif;
	color: var(--default-dark);	font-size: 1.5rem;
	margin: 0;
	padding: 0;
}

a {
	color: var(--default-purple);
	opacity: 1;
	transition: 0.1s ease-in-out;
}

a:hover {
	opacity: 0.7;
}

/* NAVIGATION BAR STUFF */
nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.navigation-links {
	list-style: none;
	margin: 0; /*is this necessary idk*/
	display: flex;
	gap: 4vw;
	align-items: center;
	padding: 5vw 5vw 1vw 5vw;
}

.navigation-links li a {
	color: var(--default-dark);
	text-decoration: none;
	font-size: 2rem;
	opacity: 0.75;
	transition: all 0.3s ease-in-out;
}

.navigation-links li a:hover {
	opacity: 1;
	text-decoration: underline;
	text-decoration-style: wavy;
}

/* PROJECT CARD COMPONENT STUFF */
@keyframes card-appear {
	from {
		opacity: 0.8;
		transform: translateY(50px) scale(0.95);
	} to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

.project-card {
	display: flex;
	flex-direction: column;
	border-radius: 30px; /*stolen from figma file*/
	overflow: hidden;
	box-shadow: 0.1rem 0.1rem 0.3rem var(--default-purple);
	transition: 0.3s all;
	line-height: normal;
	margin-bottom: auto;
	width: 100%;
	background-color: var(--default-light);
	max-height: 80vh;
	max-width: 90vw;
	min-width: 30vw;
	animation: 0.2s card-appear;
	animation-timeline: view(block);
}

.project-card:not(.project-card-overlay .project-card):not(.contact-page .project-card) {
	cursor: pointer;
}

.project-card:hover:not(.project-card-overlay .project-card:hover) {
	transform: translateY(-0.5rem);
}

.project-card-overlay .project-card .project-card-header h1{
	margin-bottom: 1vw !important;
}

.project-card-header {
	min-height: 75px; /* stolen from figma file, 75px */
	height: auto;
	color: var(--default-light);
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	align-items: center;
	justify-content: space-between;
	padding: 0.5vw 2vw 0.5vw 2vw;
	font-size: 1rem;
}

.project-card-header button {
	margin-left: auto;
	border: none;
	background-color: transparent;
	color: var(--default-light);
	font-size: 1.5rem;
	font-family: 'HeadingNow';
	font-weight: 800;
	transition: 0.075s ease-in-out;
	cursor: pointer;
}

.project-card-header button:hover {
	filter: brightness(0.9);
}

.project-card-header button:active {
	filter: brightness(0.8);
}

.project-card-header h1 {
	margin-top: 0;
	margin-bottom: -0.25rem;
	line-height: 1.75rem;
}

.project-card-header.coding {
	background-color: var(--default-red);
}

.project-card-header.teaching {
	background-color: var(--default-yellow);
}

.project-card-header.events {
	background-color: var(--default-green);
}

.project-card-header.research {
	background-color: var(--default-blue);
}

.project-card-header.misc {
	background-color: var(--default-purple);
}

.project-card-content {
	margin-top: 1vw;
	display: flex;
	flex-direction: column;
	margin-bottom: 0.75vw;
	font-size: 1.25rem;
	flex-grow: 1;
	padding: 0vw 2vw 1vw 2vw;
}

.project-card-content > * {
	margin: 0.25rem 0;
}

.project-card img {
	border-radius: 20px;
	max-width: 100%;
	object-fit: cover;
}

.project-card-date {
	font-style: italic;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

.project-card-overlay {
	padding: 5rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(0.1rem);
	animation: fadeIn 0.2s ease-out forwards;
	z-index: 999;
}

/* HOMEPAGE: HERO SECTION */
.hero-section {
	height: 65vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70vw;
	margin: 0 auto;
}

.hero-section h1 {
	font-size: 15vw;
	align-self: center;
	line-height: 0rem;
	font-weight: 800;
}

.hero-section h3 {
	font-size: xxx-large;
	font-weight: normal;
	line-height: 0rem;
}

.hero-subtext {
	align-self: flex-start;
	font-weight: normal;
	font-size: 5vw;
	line-height: 5vw;
	flex-wrap: wrap;
	white-space: normal;
	overflow-wrap: break-word;
}

.hero-tagline {
	align-self: flex-end;
	font-style: italic;
	font-size: 2.5vw !important;
	line-height: 2.5vw;
}

/* HOMEPAGE: INFO SECTION */
.info-section {
	display: flex;
	flex-direction: row;
	width: auto;
	padding: 5vw;
	gap: 2vw;
}

.info-text {
	max-width: 67vw;
}

.info-cards {
	display: flex;
	flex-direction: row;
	gap: 1vw;
}

.info-graphics {
	display: flex;
	margin-left: auto;
	align-items: center;
}

@keyframes photobooth-appear {
	from {
		opacity: 0.8;
		transform: rotate(-5deg);
	} to {
		opacity: 1;
		transform: rotate(0);
	}
}

.photobooth {
	display: flex;
	flex-direction: column;
	width: calc(var(--s)*20);
	animation: 0.2s photobooth-appear;
	animation-timeline: view(block);
	max-width: 30vw;
}

.photobooth img {
	margin: 0;
	height: calc(20*var(--s));
	background: conic-gradient(at var(--s) 50%, var(--default-dark) 75%, #0000 0) 0 0 / calc(100% - var(--s)) calc(2*var(--s)) padding-box;
	border: var(--s) solid var(--default-dark);
	padding: calc(var(--s) * 1.5) calc(var(--s) * 2.5);
	margin-bottom: calc(-1*var(--s));
	aspect-ratio: 1;
	object-fit: cover;
}

/* HOMEPAGE: FOOTER SECTION */
/* <div className="footer-section">
<p className="">This is my digital space. Take a look around my portfolio, leave a note on my guestbook, and maybe send me a message?</p>
<p className="footer-subtext">Link to Github here.</p> */
.footer-section {
	width: auto;
	text-align: center;
	max-width: 75vw;
	margin: 0 auto;
}

.footer-text {
	font-size: xxx-large;
	animation: 0.2s card-appear;
	animation-timeline: view(block);
}

.footer-subtext {
	font-size: xx-large;
	opacity: 0.7;
	font-style: italic;
}

/* PROJECTS PAGE STUFF */
.projects-page {
	display: flex;
	flex-direction: column;
	gap: 1vw;
	padding: 0 5vw;
	width: auto;
}

.projects-header {
	font-size: 4rem;
	margin: 0;
}

.category-select-container {
	display: flex;
	flex-direction: row;
	gap: 1vw;
	flex-wrap: wrap;
}

.category-select {
	font-size: larger;
	font-family: 'HeadingNow','Arial', sans-serif;
	border-radius: 999px;
	padding: 0.5rem 1rem;
	box-shadow: inset 0 0 0 3px var(--default-dark);
	color: var(--default-dark);
	border-width: 0;
	background-color: var(--default-light);
	transition: 0.1s ease-in-out;
}

.category-select:active {
	opacity: 1 !important;
}

.category-select:not(.active) {
	cursor: pointer;
}

.category-select:hover, .category-select.active {
	color: var(--default-light) !important;
	box-shadow: none !important;
}

.category-select:hover:not(.active) {
	opacity: 0.5;
}

.category-select.all.active, .category-select.all:hover {
	background-color: var(--default-dark);
}

.category-select.coding.active, .category-select.coding:hover {
	background-color: var(--default-red);
}

.category-select.teaching.active, .category-select.teaching:hover {
	background-color: var(--default-yellow);
}

.category-select.events.active, .category-select.events:hover {
	background-color: var(--default-green);
}

.category-select.research.active, .category-select.research:hover {
	background-color: var(--default-blue);
}

.category-select.catchall.active, .category-select.catchall:hover {
	background-color: var(--default-purple);
}

.projects-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2rem;
	row-gap: 1rem;
	margin-bottom: 3rem;
}

.project-card-image-container {
	min-height: 15vh;
	max-height: 40vh;
	height: auto;
	overflow-x: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 1vw;
	overflow-y: hidden;
}

.project-card-image-container img {
  border-radius: 20px;
  max-width: 100%;
  object-fit: cover;
  height: 100%; 
  aspect-ratio: auto;
  max-height: 30vh;
  width: auto; 
	flex-shrink: 0;
}

/*CONTACT PAGE*/
.contact-page {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	margin-top: 5vh;
}

.contact-page .project-card .project-card-header {
	display: flex;
	justify-content: center;
	text-align: center;
}

.contact-page .project-card {
	max-width: 50vw;
}

.contact-page-content {
	display: flex;
	flex-direction: row;
	padding: 0 1vw 1vw 1vw;
}

.contact-page .project-card .project-card-content {
	min-width: 40%;
	padding: 0;
}

.contact-page .project-card .project-card-content svg {
	color: var(--default-purple);
}

.contact-page .project-card .project-card-content p {
	font-size: x-large;
}

.contact-page-buttons {
	max-width: 50%;
	margin-top: 1vw;
}

.contact-page-buttons > * {
	margin: 0.5vw 0;
}

.contact-page-buttons img {
	border-radius: 0 !important;
}

.contact-page-buttons p { 
	font-size: 1.25rem;
	line-height: 1.5rem;
	font-style: italic;
	margin: 0;
}

.contact-page-my-button {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 31px;
}

.project-card .contact-page-content .contact-page-buttons .contact-page-my-button .category-select {
	font-size: clamp(0.5rem, 2vw, 1rem);
	box-shadow: inset 0 0 0 1.5px var(--default-purple);
	color: var(--default-purple);
	padding: 0 0.75vw;
}

.contact-page-code {
	background-color: rgb(from var(--default-purple) r g b / 0.25);
	border: 2px solid;
	border-radius: 1vw;
	color: var(--default-purple);
	padding: 0.5vw;
	overflow-wrap: break-word;
	font-size: 2vh;
	line-height: 2vh;
}

.contact-footer {
	text-align: center;
	align-self: center;
	opacity: 0.5;
	color: var(--default-dark);
	font-style: italic;
}