@font-face {
	font-family: 'HeadingNow';
	src: url('/fonts/Heading Now 63 Book.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HeadingNow';
	src: url('/fonts/Heading Now 63 Book Italic.woff2');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'HeadingNow';
	src: url('/fonts/Heading Now 64 Regular.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HeadingNow';
	src: url('/fonts/Heading Now 64 Italic.ttf');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'HeadingNow';
	src: url('/fonts/HeadingNowTrial-67Extrabold.ttf');
	font-weight: 800;
	font-style: normal;
}

:root {
	--default-red: #f05b5b;
	--default-yellow: #ffde5b;
	--default-green: #b7e169;
	--default-blue: #69cbe5;
	--default-dark: #2f2b45;
	--default-light: #fffdf9;
	--s: 10px;
	background-color: var(--default-light);
}

body {
	font-family: 'HeadingNow', 'Arial', sans-serif;
	color: var(--default-dark);
	font-size: 1.5rem;
}

/* NAVIGATION BAR STUFF */
nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.navigation-links {
	list-style: none;
	margin: 0; /*is this necessary idk*/
	padding: 0; /*is this necessary idk*/
	display: flex;
	gap: 4rem;
	align-items: center;
	padding: 3rem;
}

.navigation-links li a {
	color: var(--default-dark);
	text-decoration: none;
	font-size: 2rem;
	opacity: 0.75;
	transition: all 0.3s ease-in-out;
}

.navigation-links li a:hover {
	opacity: 1;
	text-decoration: underline;
	text-decoration-style: wavy;
}

/* PROJECT CARD COMPONENT STUFF */
.project-card {
	border-radius: 30px; /*stolen from figma file*/
	overflow: hidden;
	box-shadow: 0.25rem 0.25rem 0.5rem var(--default-dark);
	transition: 0.3s all;
	line-height: normal;
	margin-bottom: auto;
	width: 100%;
}

.project-card:hover {
	transform: translateY(-0.5rem);
}

.project-card-header {
	height: 75px; /* stolen from figma file, 75px */
	color: var(--default-light);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 1rem;
	font-size: 1rem;
}

.project-card-header h1 {
	margin-top: 0;
	margin-bottom: -0.25rem;
}

.project-card-header.coding {
	background-color: var(--default-red);
}

.project-card-header.teaching {
	background-color: var(--default-yellow);
}

.project-card-header.events {
	background-color: var(--default-green);
}

.project-card-header.research {
	background-color: var(--default-blue);
}

.project-card-content {
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	margin-bottom: 0.75rem;
	font-size: 1.25rem;
}

.project-card-content > * {
	margin: 0.25rem 0;
}

.project-card img {
	border-radius: 20px;
	max-width: 100%;
	aspect-ratio: 4/3;
	object-fit: cover;
}

.project-card-date {
	font-style: italic;
}


/* HOMEPAGE: HERO SECTION */
.hero-section {
	height: 65vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70vw;
	margin: 0 auto;
}

.hero-section h1 {
	font-size: 30vh;
	align-self: center;
	line-height: 0rem;
	font-weight: 800;
}

.hero-section h3 {
	font-size: xxx-large;
	font-weight: normal;
	line-height: 0rem;
}

.hero-subtext {
	align-self: flex-start;
	font-weight: normal;
}

.hero-tagline {
	align-self: flex-end;
	font-style: italic;
}

/* HOMEPAGE: INFO SECTION */
.info-section {
	display: flex;
	flex-direction: row;
	width: auto;
	padding: 5rem;
	gap: 2rem;
}

.info-text {
	max-width: 67vw;
}

.info-cards {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.info-graphics {
	display: flex;
	margin-left: auto;
	align-items: center;
}

.photobooth {
	display: flex;
	flex-direction: column;
	width: calc(var(--s)*20);
}

.photobooth img {
	margin: 0;
	height: calc(20*var(--s));
	background: conic-gradient(at var(--s) 50%, var(--default-dark) 75%, #0000 0) 0 0 / calc(100% - var(--s)) calc(2*var(--s)) padding-box;
	border: var(--s) solid var(--default-dark);
	padding: calc(var(--s) * 1.5) calc(var(--s) * 2.5);
	margin-bottom: calc(-1*var(--s));
	aspect-ratio: 1;
	object-fit: cover;
}

/* HOMEPAGE: FOOTER SECTION */
/* <div className="footer-section">
<p className="">This is my digital space. Take a look around my portfolio, leave a note on my guestbook, and maybe send me a message?</p>
<p className="footer-subtext">Link to Github here.</p> */
.footer-section {
	width: auto;
	text-align: center;
	margin: 20vh;
}

.footer-text {
	font-size: xxx-large;
}

.footer-subtext {
	font-size: xx-large;
	opacity: 0.7;
	font-style: italic;
}

/* PROJECTS PAGE STUFF */
.projects-page {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 5rem;
	width: auto;
}

.category-select-container {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.category-select {
	font-size: larger;
	border-radius: 999px;
	padding: 0.5rem 1rem;
	box-shadow: inset 0 0 0 3px var(--default-dark);
	color: var(--default-dark);
	border-width: 0;
	background-color: var(--default-light);
	transition: 0.1s ease-in-out;
}

.category-select:active {
	opacity: 1 !important;
}

.category-select:not(.active) {
	cursor: pointer;
}

.category-select:hover, .category-select.active {
	color: var(--default-light) !important;
	box-shadow: none !important;
}

.category-select:hover:not(.active) {
	opacity: 0.5;
}

.category-select.all.active, .category-select.all:hover {
	background-color: var(--default-dark);
}

.category-select.coding.active, .category-select.coding:hover {
	background-color: var(--default-red);
}

.category-select.teaching.active, .category-select.teaching:hover {
	background-color: var(--default-yellow);
}

.category-select.events.active, .category-select.events:hover {
	background-color: var(--default-green);
}

.category-select.research.active, .category-select.research:hover {
	background-color: var(--default-blue);
}

.projects-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 4rem;
}

